<div class="container">
  <div class="blog-subject">
    <div class="header-down-caret">
      <h4>Featured blog post</h4>
      <i class="fa fa-caret-down"></i>
    </div>
    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    {% if post.short %}
    <p class="short">{{ post.short }}</p>
    {% endif %}
  </div>

  <div class="blog-author byline">
    {% for person in site.team %}
    {% if post.author == person.name %}
    <img src="{{ site.baseurl }}/assets/images/{{ person.team-image.small }}" alt="{{ person.first_name }}" />
    <div class="author-info">
      {% if person.current-employee %}
        <a class="team-name" href="{{ site.baseurl }}{{ person.url }}"><h4>{{ person.first_name }} {{ person.last_name }}</h4></a>
      {% else %}
        <h4>{{ person.first_name }} {{ person.last_name }}</h4>
      {% endif %}
      <p>
        {{ person.position }}
      </p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
